
ul li input{
  margin-top: -5px;
}

.mainTitle label {
  font-size: 15px;
}

.top-btn{
  height: 40px;
  width: 100%;
  color: black;
  border: none;
  cursor: pointer;
  text-align: left;
  padding-left: 20px;
}

.subList {
  margin-left: 20px;
}


.input-group img {
  margin-top: 10px;
  margin-right: 10px;
}

.input-group-input{
  font-size: 11px;
  padding: 5px;
  width: 90%;
  border-radius: 10px;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.image-wrapper button {
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.rightSideDate{
  padding: 3px;
  float: right;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .rightSideDate {
    width: 65px;
    font-size: 8px;
  }
}

/* Styles to remove the date selection from the calendar */
.mat-datepicker-content {
  .mat-calendar-body {
    display: none;  // Hides the date grid (i.e., day selection)
  }
}

.mat-datepicker-content .mat-calendar-year-view,
.mat-datepicker-content .mat-calendar-month-view {
  display: block; // Shows year and month views only
}

/* Optional: Style the calendar to look cleaner */
.mat-datepicker-panel {
  width: 300px;  // You can adjust the size of the date picker panel
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

mat-form-field {
  width: 300px;
}

mat-input {
  font-size: 16px;
}




