<app-select-nagar *ngIf="ShowNagar"></app-select-nagar>
<p *ngIf="selectedNagar" (click)="openSelectNagar()">{{ selectedNagar }}</p>

<app-snackbar [errorsmsg]="loginerr" [snackbarColour]="snackbarColour" *ngIf="loginerr"></app-snackbar>
<form action="" (ngSubmit)="onSubmit(myform)" #myform="ngForm">
  <div class="list-container">
    <h3>વૃત્તનો પ્રકાર પસંદ કરો</h3>
    <ul>
      <li (click)="toggleList(1)">
        <button type="button" class="libtn">શિક્ષા</button>
      </li>
      <div *ngIf="activeCategory === 1" class="subList">
        <ng-container *ngFor="let item of educationItems">
          <li (click)="toggleSubList(item, educationItems)" [ngClass]="{'green': isFilled(item)}">
            <label>{{ item.label }}</label>
          </li>
          <div *ngIf="item.showInputs" class="input-group">
            <input type="number" [(ngModel)]="checkedItems[item.name].men" name="{{item.name}}Men" placeholder="પુરુષોની સંખ્યા">
            <input type="number" [(ngModel)]="checkedItems[item.name].women" name="{{item.name}}Women" placeholder="મહિલાઓની સંખ્યા">
            <input type="number" [(ngModel)]="checkedItems[item.name].others" name="{{item.name}}Others" placeholder="કાર્યકર્તાની સંખ્યા">
          </div>
        </ng-container>
        <div *ngIf="showOthersShiksha" class="input-group">
          <input type="text" [(ngModel)]="othersShiksha.name" name="othersShikshaName" placeholder="પ્રવૃત્તિનું નામ">
          <input type="number" [(ngModel)]="othersShiksha.men" name="othersShikshaMen" placeholder="પુરુષોની સંખ્યા">
          <input type="number" [(ngModel)]="othersShiksha.women" name="othersShikshaWomen" placeholder="મહિલાઓની સંખ્યા">
          <input type="number" [(ngModel)]="othersShiksha.others" name="othersShikshaOthers" placeholder="કાર્યકર્તાની સંખ્યા">
        </div>
      </div>

      <li (click)="toggleList(2)">
        <button type="button" class="libtn">સ્વાસ્થ્ય</button>
      </li>
      <div *ngIf="activeCategory === 2" class="subList">
        <ng-container *ngFor="let item of healthItems">
          <li (click)="toggleSubList(item, healthItems)" [ngClass]="{'green': isFilled(item)}">
            <label>{{ item.label }}</label>
          </li>
          <div *ngIf="item.showInputs" class="input-group">
            <input type="number" [(ngModel)]="checkedItems[item.name].men" name="{{item.name}}Men" placeholder="પુરુષોની સંખ્યા">
            <input type="number" [(ngModel)]="checkedItems[item.name].women" name="{{item.name}}Women" placeholder="મહિલાઓની સંખ્યા">
            <input type="number" [(ngModel)]="checkedItems[item.name].others" name="{{item.name}}Others" placeholder="કાર્યકર્તાની સંખ્યા">
          </div>
        </ng-container>
        <div *ngIf="showOthersAayogya" class="input-group">
          <input type="text" [(ngModel)]="othersAayogya.name" name="othersAayogyaName" placeholder="પ્રવૃત્તિનું નામ">
          <input type="number" [(ngModel)]="othersAayogya.men" name="othersAayogyaMen" placeholder="પુરુષોની સંખ્યા">
          <input type="number" [(ngModel)]="othersAayogya.women" name="othersAayogyaWomen" placeholder="મહિલાઓની સંખ્યા">
          <input type="number" [(ngModel)]="othersAayogya.others" name="othersAayogyaOthers" placeholder="કાર્યકર્તાની સંખ્યા">
        </div>
      </div>

      <li (click)="toggleList(3)">
        <button type="button" class="libtn">સ્વાવલંબન</button>
      </li>
      <div *ngIf="activeCategory === 3" class="subList">
        <ng-container *ngFor="let item of selfRelianceItems">
          <li (click)="toggleSubList(item, selfRelianceItems)" [ngClass]="{'green': isFilled(item)}">
            <label>{{ item.label }}</label>
          </li>
          <div *ngIf="item.showInputs" class="input-group">
            <input type="number" [(ngModel)]="checkedItems[item.name].men" name="{{item.name}}Men" placeholder="પુરુષોની સંખ્યા">
            <input type="number" [(ngModel)]="checkedItems[item.name].women" name="{{item.name}}Women" placeholder="મહિલાઓની સંખ્યા">
            <input type="number" [(ngModel)]="checkedItems[item.name].others" name="{{item.name}}Others" placeholder="કાર્યકર્તાની સંખ્યા">
          </div>
        </ng-container>
        <div *ngIf="showOthersSawval" class="input-group">
          <input type="text" [(ngModel)]="othersSawval.name" name="othersSawvalName" placeholder="પ્રવૃત્તિનું નામ">
          <input type="number" [(ngModel)]="othersSawval.men" name="othersSawvalMen" placeholder="પુરુષોની સંખ્યા">
          <input type="number" [(ngModel)]="othersSawval.women" name="othersSawvalWomen" placeholder="મહિલાઓની સંખ્યા">
          <input type="number" [(ngModel)]="othersSawval.others" name="othersSawvalOthers" placeholder="કાર્યકર્તાની સંખ્યા">
        </div>
      </div>

      <li (click)="toggleList(4)">
        <button type="button" class="libtn">સામાજિક</button>
      </li>
      <div *ngIf="activeCategory === 4" class="subList">
        <ng-container *ngFor="let item of socialItems">
          <li (click)="toggleSubList(item, socialItems)" [ngClass]="{'green': isFilled(item)}">
            <label>{{ item.label }}</label>
          </li>
          <div *ngIf="item.showInputs" class="input-group">
            <input type="number" [(ngModel)]="checkedItems[item.name].men" name="{{item.name}}Men" placeholder="પુરુષોની સંખ્યા">
            <input type="number" [(ngModel)]="checkedItems[item.name].women" name="{{item.name}}Women" placeholder="મહિલાઓની સંખ્યા">
            <input type="number" [(ngModel)]="checkedItems[item.name].others" name="{{item.name}}Others" placeholder="કાર્યકર્તાની સંખ્યા">
          </div>
        </ng-container>
        <div *ngIf="showOthersSamajik" class="input-group">
          <input type="text" [(ngModel)]="othersSamajik.name" name="othersSamajikName" placeholder="પ્રવૃત્તિનું નામ">
          <input type="number" [(ngModel)]="othersSamajik.men" name="othersSamajikMen" placeholder="પુરુષોની સંખ્યા">
          <input type="number" [(ngModel)]="othersSamajik.women" name="othersSamajikWomen" placeholder="મહિલાઓની સંખ્યા">
          <input type="number" [(ngModel)]="othersSamajik.others" name="othersSamajikOthers" placeholder="કાર્યકર્તાની સંખ્યા">
        </div>
      </div>
    </ul>
    <input type="submit" value="Submit" class="submit-btn">
  </div>
</form>
