<div class="container">
    <div class="row">
        <div class="nav-hadder">
    
            <div class="col-md-3 col-sm-3 col-3">
                <div >
                    <h2  class="nav-title">Sewa Vibhag - RSS- Gujarat </h2>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end nav-hadder-end" *ngIf="selecteduser">
                <div class="menu-icon" (click)="openMenu()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
     
            <div class="desktop_menu" [class.mobile_menu]="menuValue">
                <ul>
                    <li routerLink="/home">Home</li>
                    <li routerLink="/SakhaVrtta">Sakha Vrtta</li>
                    <li routerLink="/SevaUpakrama">Seva Upakrama</li>
                    <li routerLink="/SevaKarya">Seva Karya</li>
                    <li routerLink="/UtsavaVrtta">Utsava Vrtta</li>
                    <li routerLink="/SevaDarshan">Seva Darshan</li>
                    <li (click)="logout()">LogOut</li>
                    <!-- <li routerLink="/login" [queryParams]="{logout:true}">LogOut</li> -->
                </ul>
            </div>
        </div>
    </div>
</div>