<footer>
   <!-- Uncomment this code if we are adding social media link -->
     <!-- <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link facebook" href="#">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link twitter" href="#">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link linkedin" href="#">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link instagram" href="#">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        </a></li>
    </ul>  -->
    <p>&copy;2024 Rashtriya Swayamsevak Sangh | All Rights Reserved</p>
  </footer>