.ptb-7{
    padding-top:7px;
    padding-bottom: 7px;
}
.even{
    background-color: #c0c8d9;
}
.odd{
    background-color: #ecb19f;
}

.success{
    background-color: #20c997;
}

.info{
    background-color:rgb(231, 203, 166);
}