* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.list h3 {
  margin-top: 0;
  text-align: center;
  color: #333;
}

.list {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
}

.list ul {
  list-style-type: none;
  padding-left: 0;
  margin: 10px;
}

.list ul li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s, color 0.3s;
}

.list ul li:hover {
  background-color: #f1f1f1;
  color: #007bff;
}

.submit {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #e98a2b;
}

.submit:hover {
  background: #9b4f04;
}

.category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
}

.category-list input[type="number"],
.category-list input[type="text"] {
  width: 25%;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.category-list textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.category-list label {
  font-size: 13px;
}

.category-list input[type="number"]:focus,
.category-list textarea:focus {
  border-color: #007bff;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .list {
    width: 95%;
    padding: 15px;
  }

  .category-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
  }

  .category-list label {
    margin-bottom: 5px;
    font-size: 11px;
  }
  .submit {
    font-size: 1.2rem;
    height: 60px;
  }
}