<form action="">
<div class="list">
    <h3>રક્ષાબંધન ઉત્સવ વૃત</h3>

    <ul>
        <li class="category-list">
            <label> નગર નુ નામ</label>
            <input type="number" placeholder=" સંખ્યા">
        </li>
        <li class="category-list">
            <label>થયેલા ઉત્સવ</label>
            <input type="number" placeholder=" સંખ્યા">
        
        <li class ="category-list">
            <label>કુલ સેવા વસ્તી</label>
            <input type="number" placeholder=" સંખ્યા"> 
        </li>
        <li class ="category-list">
            <label>સંપર્ક કરેલ સેવા વસ્તી</label>
            <input type="number" placeholder=" સંખ્યા"> 
        </li>
        <li class ="category-list">
            <label>સંપર્ક માં ગયેલ કાર્યકર્તા ની સંખ્યા</label>
            <input type="number" placeholder=" સંખ્યા"> 
        </li>
        <li class ="category-list">
            <label>કેટલા પરિવાર નો સંપર્ક થયો</label>
            <input type="number" placeholder=" સંખ્યા"> 
        </li>
        <li class ="category-list">
            <label>કેટલી રક્ષા અથવા સંદેશ આપ્યા</label>
            <input type="number" placeholder=" સંખ્યા"> 
        </li>
        <li class ="category-list">
            <label>અન્ય વિશેષ કેટલા સંપર્ક કર્યા</label>
            <input type="number" placeholder=" સંખ્યા"> 
        </li>
        <li class ="category-list">
            <label>નવા જોડાયેલ કાર્યકર્તા</label>
            <input type="number" placeholder=" સંખ્યા"> 
        </li>
    </ul>

    <button class="submit" type="submit">Submit</button>
</div>
