
.app-login-form {
  width: 90%;
  max-width: 520px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 10px;
  margin: 100px auto;
}

.form-input {
  margin-top: 10px;
}

.form-input input {
  width: 95%;
  height: 40px;
  border: #eee 2px solid;
  padding: 0px 15px;
  margin-bottom: 10px;
}

.app-login-btn {
  width: 95%;
  border: none;
  padding: 12px;
  margin: 12px 0px;
  background-color: #e98a2b;
  color: white;
}

.app-toggle {
  text-align: center;
}

.app-toggle-btn {
  border: none;
  font-size: 16px;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.footer-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
