<header>
  <div class="m-header" [style.display]="this.headerStyle">
    <a class="mobile-menu" id="mobile-collapse1" href="javascript:" (click)="this.NavCollapsedMob.emit()"><span></span></a>
    <a [routerLink]="['/home']" class="b-brand">
      <div class="b-bg">
       
      </div>
      <span class="b-title">સેવા વિભાગ</span>
    </a>
  </div>
  <a class="mobile-menu" [ngClass]="{ on: this.menuClass }" id="mobile-header" href="javascript:" (click)="logout()">
    <img src="../../../../../assets/images/logout.svg">
  </a>

</header>
