
<h2>જિલ્લા વૃત્ત</h2>
<div [formGroup]="jillaForm" (ngSubmit)="submitJilla(jillaForm)">
  <label>જિલ્લા બેઠક થઈ? </label>
  <input type="radio" id="jBethakYes" name="jBethak" value="Yes" formControlName="jBethak" />
  <label for="jBethakYes">હા</label>
  <input type="radio" id="jBethakNo" name="jBethak" value="No" formControlName="jBethak" />
  <label for="jBethakNo">ના</label>
  <br />
  <span class="error-message" *ngIf="
      isSubmit &&
      jillaForm.touched &&
      jillaForm.get('jBethak')?.hasError('required')
    ">વૃત્ત ભરવું ફરજિયાત છે</span>
  <br />
  <label for="">જિલ્લામા આયામ સહ કેટલા સેવા કાર્ય ચાલે છે ? </label>
  <select name="" formControlName="selAyam" (change)="ayamChange($event)">
    <option selected>-- પસંદ કરો --</option>
    <option value="ayam" *ngFor="let ayam of aayamList">
      {{ ayam }}
    </option>
  </select>
  <input type="number" formControlName="ayamSahNum" />
  <br />
  <span class="error-message" *ngIf="
      isSubmit &&
      jillaForm.touched &&
      jillaForm.get('ayamSahNum')?.hasError('required')
    ">વૃત્ત ભરવું ફરજિયાત છે</span>
  <br />
  <label>કેટલી શાખામાં પ્રવાસ થયો? </label>
  <input type="number" formControlName="shakhaPravasNum" />
  <br />
  <span class="error-message" *ngIf="
      isSubmit &&
      jillaForm.touched &&
      jillaForm.get('shakhaPravasNum')?.hasError('required')
    ">વૃત્ત ભરવું ફરજિયાત છે</span>
  <br />
  <label>કેટલી સેવા વસ્તીમાં સંપર્ક થયો? </label>
  <input type="number" formControlName="sevaVastiPravasNum" />
  <br />
  <span class="error-message" *ngIf="
      isSubmit &&
      jillaForm.touched &&
      jillaForm.get('sevaVastiPravasNum')?.hasError('required')
    ">વૃત્ત ભરવું ફરજિયાત છે</span>
  <br />
  <label>કેટલા સેવા કાર્યમાં જવાનુ થયું ? </label>
  <input type="number" formControlName="sevaKaryaPravasNum" />
  <br />
  <span class="error-message" *ngIf="
      isSubmit &&
      jillaForm.touched &&
      jillaForm.get('sevaKaryaPravasNum')?.hasError('required')
    ">વૃત્ત ભરવું ફરજિયાત છે</span>
  <br />
  <label>આ મહિનામાં કેટલા નવા સેવા કાર્ય શરૂ થયા? </label>
  <input type="number" formControlName="newSevaKaryaNum" />
  <br />
  <span class="error-message" *ngIf="
      isSubmit &&
      jillaForm.touched &&
      jillaForm.get('newSevaKaryaNum')?.hasError('required')
    ">વૃત્ત ભરવું ફરજિયાત છે</span>
</div>
<br>
<button (click)="submitJilla(jillaForm)">સબમિટ કરો</button>