* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.list-container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
}

.list-container h3 {
  margin-top: 0;
  text-align: center;
  color: #333;
}

/* List Styles */
.list-container ul {
  list-style-type: none;
  padding-left: 0;
}

.list-container ul li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s, color 0.3s;
}

.list-container ul li:hover {
  background-color: #f1f1f1;
  color: #007bff;
}

.subList {
  padding-left: 20px;
  border-left: 2px solid #ddd;
}

.mainTitle {
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
}

#texttitle {
  font-size: 17px;
  margin-right: 15px;
}

.mainTitle input[type="number"],
.mainTitle textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.mainTitle label {
  font-size: 13px;
}

.mainTitle input[type="number"]:focus,
.mainTitle textarea:focus {
  border-color: #007bff;
  outline: none;
}


@media screen and (max-width: 768px) {
  .list-container {
    width: 90%;
  }
}