* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
// #e98a2b #e1a16112

.selected {
  color: #e98a2b;
}
span{
  margin: 0px 10px 0px 5px;
}
h3,h4{
  color: #e98a2b !important;
}
.list-container {
  width: 80%;
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid #ff9d3e;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.list-container h3 {
  margin-top: 0;
  text-align: center;
  color: #333;
}

/* List Styles */
.list-container ul {
  list-style-type: none;
  padding-left: 0;
}

.list-container ul li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s, color 0.3s;
}

.list-container ul li:hover {
  background-color: #f1f1f1;
  color: #e98a2b;
}

.subList {
  padding-left: 20px;
  border-left: 2px solid #ddd;
}
.subList-label{ 
  display:flex;
}
.flex-container {
  display: flex;
  align-items: center;
}

.flex-container label {
  margin-right: 10px;
}

.flex-container input[type="number"],
.flex-container textarea {
  flex: 1; 
}

.mainTitle {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

#texttitle {
  font-size: 15px;
  margin-right: 10px;
}

.mainTitle input[type="number"],
.mainTitle textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.mainTitle label {
  font-size: 15px;
}

.mainTitle input[type="number"]:focus,
.mainTitle textarea:focus {
  border-color: #007bff;
  outline: none;
}


@media screen and (max-width: 768px) {
  .list-container {
    width: 90%;
  }
}