<div class="overlay">
	<div class="popup">
		<a class="close" (click)="OnCloseForm()">&times;</a>
		<div class="content">
			<section class="container">
                <form action="#" class="form" #taskForm="ngForm">
                  <h2>નગર પસંદ કરો</h2>
                  <div class="input-box address">
                      <div class="select-box">
                        <select name="priority" [(ngModel)]="selectedNagar">
                          <option value="Nagar1">Nagar 1</option>
                          <option value="Nagar2">Nagar 2</option>
                          <option value="Nagar3">Nagar 3</option>
                          <option value="Nagar4">Nagar 4</option>
                        </select>
                    </div>
                  </div>
                  <div class="column">
                  <button type="button" (click)="OnFormSubmitted()">Add Nagar</button>
                  <button type="button" (click)="OnCloseForm()">Cancel</button>
                </div>
                </form>
              </section>
		</div>
	</div>
</div>