<div class="overlay">
	<div class="popup">
		<a class="close" (click)="OnCloseForm()">&times;</a>
		<div class="content">
      <form [formGroup]="adminForm" (ngSubmit)="OnFormSubmitted()">
        <div class="form-group">
          <label for="vibhag">વિભાગ</label>
          <select id="vibhag" formControlName="vibhag" (change)="vibhagChange($event)">
            <option value="" selected>Select</option>
            <option *ngFor="let vibhag of vibhagList" [value]="vibhag.name" >{{ vibhag.name }}</option>
          </select>
        </div>
        <div class="form-row">
         <div class="form-group" *ngIf="jillaList.length">
            <label for="jilla">ભાગ/જિલ્લો:</label>
            <select id="jilla" formControlName="jilla" (change)="jillaChange($event)">
              <option value="" selected>Select</option>
              <option *ngFor="let jilla of jillaList" [value]="jilla.name">{{ jilla.name }}</option>
            </select>
          </div>
          <div class="form-group"  *ngIf="talukaList.length">
            <label for="taluka">નગર/તાલુકો:</label>
            <select id="taluka" formControlName="taluka" (change)="talukaChange($event)">
              <option value="" selected>Select</option>
              <option *ngFor="let taluka of talukaList" [value]="taluka.name">{{ taluka.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
        <div class="form-group"  *ngIf="vastiList.length">
      <label for="vasti">સેવા વસ્તી:</label>
      <select id="vasti" formControlName="vasti" (change)="vastiChange($event)">
        <option value="" selected>Select</option>
        <option *ngFor="let vasti of vastiList" [value]="vasti.name">{{ vasti.name }}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="shakhaList.length">
        <label for="shakha">શાખા:</label>
        <select id="shakha" formControlName="shakha" (change)="shakhaChange($event)">
          <option value="" selected>Select</option>
          <option *ngFor="let shakha of shakhaList" [value]="shakha.shakhaName">{{ shakha.shakhaName }}</option>
        </select>
      </div> 
    </div>
    <div class="btn-row">
      <button type="submit">Submit</button>
      <button type="button" (click)="OnCloseForm()">Cancel</button>
    </div>
    </form>
		</div>
	</div>
</div>