

<div class="row">
    <div class="col-sm-12">
       <app-card [hidHeader]="false" [cardTitle]="{title: 'સેવા kary', description: ''}" [cardClass]="'card'">
      
        <div class="was-validated">
            <div class="row">
            
              <div class="mb-3 col-md-4">
                <h5>વર્ષ</h5>
                <div>
                    <select class="form-select" required aria-label="select month" (change)="manageYear($event)"  [ngModel]="selectedYear" >
                        <option [value]="" selected >પસંદ કરો</option>
                        <option [value]="year" *ngFor="let year of [2023,2024,2025]">{{year}}</option>
                  
                    </select>
                </div>
               
              </div>
            </div>
</div>

</app-card>
</div>
</div>

<form  *ngIf="dynamicForm" [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let item of keys">
    <div [formGroupName]="item.category">
    <div ngbAccordion>
      <div ngbAccordionItem [collapsed]="false">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{ item.category | titlecase }}</button>
        </h2>
        <div ngbAccordionCollapse>
            <div *ngFor="let subcategory of item.subcategories" [formGroupName]="subcategory.name">
                <div class="card mb-0">
                    <div class="card-header ptb-10">
                        <a class="card-link" >
                            {{ subcategory.label }}
                        </a>
                      
                    </div>
                    <div class="card-body ptb-10">
                        <div class="row">
                            <div class="col-md-4 mb-1">
                            <label for="">Men</label>
                            <input type="number" class="form-control" formControlName="men" placeholder="Men" />
                            </div>
                            <div class="col-md-4 mb-1">
                                <label for="">woman</label>
                            <input type="number" class="form-control" formControlName="women" placeholder="Women" />
                            </div>
                            <div class="col-md-4 mb-1">
                                <label for="">Others</label>
                            <input type="number" class="form-control" formControlName="others" placeholder="Others" />
                            </div>
                            </div>

                    
                      </div>
                  
                  </div>
                </div> 
            <!-- <div *ngFor="let subcategory of item.subcategories" [formGroupName]="subcategory.name">
                <div class="card mb-0">
                    <div class="card-header">
                        <a class="card-link" >
                            {{ subcategory.label }}
                        </a>
                      
                    </div>
                  
                  </div>
                </div> -->
        
        </div>
      </div>
      
      
    </div>
  
   
</div>
</div>
<button type="submit" class="btn btn-primary submit-btn" >
    <i class="feather icon-thumbs-up"></i>
    Submit
  </button>
</form>


  

  