<div class="container table-responsive py-5" *ngIf="selectedMonth && data.length">
  <table class="table table-bordered table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col" rowspan="3" class="align-middle">તારીખ</th>
        <th scope="col" colspan="6">સેવા દિન</th>
        <th scope="col" colspan="3">માસિક સેવા વસ્તી સંપર્ક</th>
      </tr>
      <tr>
        <th colspan="3">સંસ્કાર-૧</th>
        <th colspan="3">સંસ્કાર-૨</th>
        <th></th>
        <th>હા</th>
        <th>ના</th>
      </tr>
      <tr>
        <th>અમૃતવચન</th>
        <th>શુભાષિત</th>
        <th>સેવા બોધકથા</th>
        <th></th>
        <th>સેવા પ્રસંગ</th>
        <th>સેવા વસ્તી કાર્ય આયોજન</th>
        <th>સ્વયંસેવાની સંખ્યા</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>વિષય લેનાર</th>
        <th></th>
        <th></th>
        <th>વિશેષ નોંધ</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>કરેલ કાર્યની નોંધ</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
