.dashboard-card{
    cursor: pointer;
 }
 .dashboard-card-header{
     background-color: orange;
 }
 .dashboard-card-block{
     background-color: lightblue;
 }
 .panel-header{
    background-color: orange;
    font-size:22px ;
}
 