header {
  padding: 10px;
  background: #e98a2b;
}

.footer {
  width: 100%;
  background: #e98a2b;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0px;
  z-index: 1000;
  /* Set a high z-index value */
}
