ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  color: blue;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  margin-right: 2px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */


/* Add a color on mouse-over */
li:hover {
  color: #01447e;
  // text-decoration: none;
  cursor: pointer;

}

.disabled,
.disabled:hover {
  color: currentColor;
  cursor: not-allowed !important;
  opacity: 0.5;

}

@media screen and (max-width:768px) {
  ul>.m-hidden {
    display: none !important;
  }

}
