<div class="row">
    <div class="col-md-12">
        <app-card [hidHeader]="false" [cardTitle]="{title: 'યુઝર્સ', description: ''}" [cardClass]="'card'" [headerClass]="'panel-header'">
            <div>
                <!-- Create the reactive form -->
                <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
                    <div class="mb-3">
                        <label for="vibhag">વિભાગ:</label>
                        <label for="vibhag" class="float-right">કુલ-{{vibhagList.length}}</label>
                        <select id="vibhag" class="form-select" formControlName="vibhag" (change)="vibhagChange($event)">
                            <option value="" selected>પસંદ કરો</option>
                            <option *ngFor="let vibhag of vibhagList" [value]="vibhag.vibhagId">{{ vibhag.name }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="form-group" *ngIf="jillaList.length">
                            <label for="jilla">ભાગ/જિલ્લો:</label>
                            <label for="vibhag" class="float-right">કુલ-{{jillaList.length}}</label>
                            <select id="jilla" class="form-select" formControlName="jilla" (change)="jillaChange($event)">
                                <option value="" selected>પસંદ કરો</option>
                                <option *ngFor="let jilla of jillaList" [value]="jilla.jillaId">{{ jilla.jillaName }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group" *ngIf="talukaList.length">
                            <label for="taluka">નગર/તાલુકો:</label>
                            <label for="vibhag" class="float-right">કુલ-{{talukaList.length}}</label>
                            <select id="taluka" class="form-select" formControlName="taluka" (change)="talukaChange($event)">
                                <option value="" selected>પસંદ કરો</option>
                                <option *ngFor="let taluka of talukaList" [value]="taluka.talukaId">{{ taluka.talukaName }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="showUserName">
                    <div class="row mb-3" >
                    <div class="col-md-12">
                    <label for="login">યુઝરનેમ:</label>
                    <input class="form-control" id="login" formControlName="login" placeholder="યુઝરનેમ"/>
                    <div *ngIf="userForm.get('login').touched && userForm.get('login').invalid">
                      <small *ngIf="userForm.get('login').hasError('required')" class="text-danger">યુઝરનેમ  જરૂરી છે </small>
                    </div>
                  </div>
              
                  <div class="col-md-12">
                    <label for="password">પાસવર્ડ:</label>
                    <input  class="form-control" id="password" type="password" formControlName="password" placeholder="પાસવર્ડ"/>
                    <div *ngIf="userForm.get('password').touched && userForm.get('password').invalid">
                      <small *ngIf="userForm.get('password').hasError('required')" class="text-danger">પાસવર્ડ જરૂરી છે</small>
                    </div>
                  </div>
                   </div>
                   </div>
                  <button type="submit" class="btn btn-primary submit-btn font-16" [disabled]="userForm.invalid">Submit</button>
                </form>
              </div>
              
            
        </app-card>

    </div>
</div>
<app-snackbar
[errorsmsg]="msg"
[snackbarColour]="snackbarColour"
*ngIf="showSnackBar"
></app-snackbar>