* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.selected {
  color: #007bff;
}

.list-container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
}

#thursdaysDropdown {
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  margin-left: 25%;
  border: 2px solid #e98a2b;
}

.accordion-heading {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.accordion-body {
  padding: 15px;
  background-color: #e9d4d4;
  border-radius: 5px;
  margin-top: 5px;
}

.weekly {
  background-color: #e98a2b;
}

.monthly {
  background-color: aqua;
}

.level-1-heading {
  background-color: rgb(220, 154, 154);
  margin: 5px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.p-10 {
  padding: 10px;
}



.heading {
  text-align: center;
}

.textArea {
  width: 100%;
  height: 50px;
  border-radius: 10px;
}

input {
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .list-container {
    width: 90%;
  }

  #thursdaysDropdown {
    width: 100%;
    margin-left: 0px;
  }
}
