<app-breadcrumb> </app-breadcrumb>
<h2 class="text-center" *ngIf="!isShakhaSelected || !isVastiSelected"> વસ્તી અને શાખા પાસંદ કરો.</h2>
<div class="list-container" *ngIf="isShakhaSelected && isVastiSelected">
  <h1 class="heading">શાખા વૃત્ત</h1>
  <div [formGroup]="dateForm">
  <select id="thursdaysDropdown" formControlName="selectedDate" (change)="dateSelChange($event)">
    <option value="" selected>પસંદ કરો</option> 
    <option *ngFor="let thursday of lastFiveThursdays" [value]="thursday">{{ thursday | date }} Thursday</option>
  </select>
  </div>
  <!-- if date is not selected then this form should be hidden -->
  <div *ngIf="dateSelected">
  <form class="mainTitle" [formGroup]="formGroup">
    <!-- for date selection  -->
    <!-- <select id="thursdaysDropdown" formControlName="selectedDate">
       
        <option *ngFor="let thursday of lastFiveThursdays" [value]="thursday">{{ thursday | date }} Thursday</option>
      </select> -->
    <!-- weekly form accordion -->
    <div class="accordion">
      <div class="accordion-heading weekly" (click)="selectedAccordion('W')">
        <input type="radio" value="W" name="selectedCategory" formControlName="selectedCategory"> સેવાદિન (ગુરૂવાર)
      </div>
      <div *ngIf="selectedCategory=='W'" class="accordion-body" formGroupName="weeklyForm">
        <div class="level-1-heading" (click)="selectedLevelHeading('sanskar1')">
          <input type="radio" value="sanskar1" name="sanskar" formControlName="sanskar"> સંસ્કાર-૧
        </div>
        <div *ngIf="selectedSanskar=='sanskar1'" formGroupName="sanskar1Group" class="p-10">
          <input type="checkbox" value='amrutvachanSubhashit' name="amrutvachan/subhashit"
            formControlName="amrutvachanSubhashit"> અમૃતવચન/શુભાષિત <br> <br>
          <input type="checkbox" value='sevaGit' name="sevaGit" formControlName="sevaGit"> સેવા ગીત <br> <br>
          <input type="checkbox" value='sevaBodhKatha' name="sevaBodhKatha" formControlName="sevaBodhKatha"> સેવા બોધકથા
          <br>
        </div>
        <div class="level-1-heading" (click)="selectedLevelHeading('sanskar2')">
          <input type="radio" value="sanskar2" name="sanskar" formControlName="sanskar"> સંસ્કાર-૨
        </div>
        <div *ngIf="selectedSanskar=='sanskar2'" formGroupName="sanskar2Group" class="p-10">
          <input type="checkbox" value='sevaPrasang' name="sevaPrasang" formControlName="sevaPrasang"> સેવા પ્રસંગ <br>
          <br>
          <input type="checkbox" value='karyAyojan' name="karyAyojan" formControlName="karyAyojan"> સેવા વસતી કાર્ય
          આયોજન <br> <br>
          વિષય લેનાર <input type="text" value='' name="vishayLenar" formControlName="vishayLenar"> <br>
          <br>
          <p>કરેલ કાર્યની નોંધ</p><textarea class='textArea' value='' name="karyNondh"
            formControlName="karyNondh"> </textarea><br>
        </div>
      </div>
    </div>
    <!-- mothly form accordion -->
    <div class="accordion">
      <div class="accordion-heading monthly" (click)="selectedAccordion('M')">
        <input type="radio" value="M" name="selectedCategory" formControlName="selectedCategory"> માસિક
        સેવા વસતી સંપર્ક
      </div>
      <div *ngIf="selectedCategory=='M'" class="accordion-body" formGroupName="monthlyForm">
        <div>
          <label for="">સંપર્ક થયેલ છે?</label>
          <br>
          <input type="radio" value="Yes" name="sampark" formControlName="sampark"> હા
          <input type="radio" value="No" name="sampark" formControlName="sampark"> ના
        </div>
        <br>
        <div *ngIf="samparkSelected=='Yes'">
          સ્વયંસેવકની સંખ્યા: <input class="box1" type="number" value='' name="swSankhya" formControlName="swSankhya">
          <br> <br>
          <p>વિશેષ નોંધ: </p><textarea class="box2" type="text" value='' name="visheshNondh"
            formControlName="visheshNondh"></textarea>
        </div>
      </div>
    </div>
    
</form>
<button (click)="submitForm(formGroup)" [disabled]="!formGroup.valid" class="submit-btn">{{formType}}</button>
</div>
<!-- for ends here -->
</div>
<!-- <app-snackbar [errorsmsg]="snackMessage" [snackbarColour]="snackbarColour" *ngIf="showSnackBar"></app-snackbar> -->
