
<!-- <div class="home-page-container">
    <h2>Vision and Mission</h2>
    <div class="home-page-content">
        <p>
            The Hindu culture is the life-breath of Hindusthan. It is therefore clear that if Hindusthan is to be protected, we should first nourish the Hindu culture. If the Hindu culture perishes in Hindusthan itself, and if the Hindu society ceases to exist, it will hardly be appropriate to refer to the mere geographical entity that remains as Hindusthan. Mere geographical lumps do not make a nation.The entire society should be in such a vigilant and organized condition that no one would dare to cast an evil eye on any of our points of honour.</p>
            <br>
            <p>
                Strength, it should be remembered, comes only through organization. It is therefore the duty of every Hindu to do his best to consolidate the Hindu society. The Sangh is just carrying out this supreme task.The present fate of the country cannot be changed unless lakhs of young men dedicate their entire lifetime for that cause. To mould the minds of our youth towards that end is the supreme aim of the Sangh.
            </p>
        <br>
        <br>
        <p>Dr. Keshav Baliram Hedgewar -Founder of RSS</p>
    </div>
</div> -->
<div class="home-page-banner">
    <div class="home-page-banner-search">
        <input type="text" class="search-input" placeholder="Search Seva" #searchVar>
        <button class="search-button">Search Seva</button>
      </div>
    <div class="home-page-banner-slogan">
      <h1>Vision and Mission</h1>
      <p>
        The Hindu culture is the life-breath of Hindusthan. It is therefore clear that if Hindusthan is to be protected, we should first nourish the Hindu culture. If the Hindu culture perishes in Hindusthan itself, and if the Hindu society ceases to exist, it will hardly be appropriate to refer to the mere geographical entity that remains as Hindusthan. Mere geographical lumps do not make a nation.The entire society should be in such a vigilant and organized condition that no one would dare to cast an evil eye on any of our points of honour.</p>
        <br>
        <p>
            Strength, it should be remembered, comes only through organization. It is therefore the duty of every Hindu to do his best to consolidate the Hindu society. The Sangh is just carrying out this supreme task.The present fate of the country cannot be changed unless lakhs of young men dedicate their entire lifetime for that cause. To mould the minds of our youth towards that end is the supreme aim of the Sangh.
        </p>
        <br>
        <br>
        <p>Dr. Keshav Baliram Hedgewar -Founder of RSS</p>
    </div>
    </div>