
.selected {
  color: #007bff;
}

.submit-btn.disabled {
  background-color: #9b4f04;
  cursor: not-allowed;
}

.list-container h1 {
  margin-top: 0;
  text-align: center;
  color: #e98a2b;
  text-shadow: 2px 2px 3px #f1c08f;
}

.input-with-icon {
  float: right;
}

.fix-input{
  font-size: 11px;
  width: 95%;
  padding: 5px;
  border-radius: 10px;
}
#thursdaysDropdown {
  border-radius: 10px;
  padding: 3px;
}


